#auth-page
  padding-bottom: 30px
  background-color: $light-grey

  a
    color: $blue

  .form-card
    background-color: transparent
    box-shadow: none
    height: 100%

    .card-header
      text-align: center
      color: $black
      font-weight: 700
      font-size: 1.125rem
      border: none
      margin-bottom: 10px
      padding: 0

    .card-body
      min-height: 430px
      background-color: #fff
      border-radius: 15px
      box-shadow: 0 3px 10px 0 rgba($grey, 0.05)
      flex: 1
      height: 100%

  .form-bottom
    display: flex
    flex-direction: column
    align-items: center
