#auth-page
  padding: 60px 0
  background-image: url('../img/featured.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  a
    color: $blue

  .form-card
    border-radius: .25rem
    overflow: hidden

    .card-header
      background-color: $blue
      text-transform: uppercase
      text-align: center
      color: #fff
      font-weight: 700
      font-size: 1.125rem
      border: none

    .card-body
      min-height: 430px

  .form-bottom
    display: flex
    flex-direction: column
    align-items: center