#coach-dashboard

  #dashboard-review

    #review-form

      .review-content

        .patient
          display: flex
          align-items: flex-start

          img
            width: 60px

          .box
            .tagged
              margin: 0 0 0 15px

              a
                margin-left: 5px

            .average-grade
              margin-left: 15px

              .rating
                margin-left: 5px
