#coach-list
  padding-top: 70px

  .coach-list-title
    margin-bottom: 22px

  .c-title
    margin: 30px 0 10px

  #breadcrumb
    margin-bottom: 30px

  #coach-list-catalog
    padding: 0 30px 40px 30px

  .coach-card
    margin-bottom: 30px
    transition: all .3s ease

    &:hover
      transform: translateY(-5px)

  #coach-list-map-wrap
    height: calc(100vh - 60px)

    &.fixed
      position: fixed
      top: 60px
      max-width: 100%
      height: 100%
      overflow-y: scroll

    #coach-list-map
      height: 100%
      width: 100%
      position: fixed
