.rate-form
  display: flex

  .rate-level
    margin: 0 2px

    &:hover
      .rate-level-label
        .filled-star
          display: block

        .stroke-star
          display: none

    input:checked + label
      .filled-star
        display: block

      .stroke-star
        display: none

    .rate-level-label
      color: $yellow
      margin: 0

      .filled-star
        //display: none

#review-form
  border: 1px solid $light-grey
  border-radius: 15px
  margin: 30px 0
  padding: 15px

  form
    margin: 0

  .review-form-header
    display: flex
    align-items: flex-start

  .avatar-wrap
    border-radius: 15px
    border: 1px solid $light-grey
    overflow: hidden
    margin-right: 15px

  .review-content
    line-height: 1.2

    .review-title
      font-weight: 700

      a
        text-decoration: none
        color: $black

    .tagged
      margin: 15px 0
      a
        font-weight: 700
        color: $black

    .date-handler
      font-size: .875rem
      color: $black

      p
        margin: 0
        font-weight: 700

        span
          font-weight: 400
          margin-left: 10px

    .average-grade
      margin-top: 15px
      display: flex

  .rate-user
    @extend %force-centered
    margin: 15px 0
    padding: 30px
    background-color: $light-grey
    border: 1px solid $blue
    border-radius: 15px

    span
      font-weight: 700

    .rate-form
      margin-left: 10px

      label
        font-size: 1.5rem

  .review-txt-area
    textarea
      width: 100%
      border-radius: 15px
      border: 1px solid $blue
      outline: none
      padding: 15px
      overflow: hidden
      min-height: 150px

  .review-btns
    margin-top: 15px
    text-align: center

    button
      margin: 0 5px
