#dashboard-bookings

  .message-middle
    display: flex
    align-items: center
    margin: 15px 0

    .date-start
      padding-right: 20px
      flex: 1

      .date
        display: flex

        b
          padding-right: 5px

    .date-end
      padding-right: 20px
      flex: 1

      .date
        display: flex

        b
          padding-right: 5px

    .booking-number
      b
        padding-right: 5px

  .message-btns
    a
      width: auto

    .refused
      background-color: #f13f4a
