#coach-profile
  @extend %sections
  background-color: rgba($blue, .5)
  position: relative

  #coach-profile-header

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: -1
      width: 100%
      height: 100%
      background-image: url(../img/226.jpg)
      background-attachment: fixed
