#coach-dashboard

  #dashboard-content
    padding: 20px

    #dash-board-nav
      margin-bottom: 15px

    .row

      .col-lg-12
        padding-top: 10px
        padding-bottom: 10px

        &:last-child
          padding-top: 30px

        .card
          border-radius: 15px

          .card-body

            .img-holder
              position: relative
              float: left
              margin: 0 19px 0 0
              min-width: 20%

              img
                width: 100%

            .holder
              padding: 0
              overflow: hidden

              h5
                float: left
              span
                float: right

              .message-header
                position: relative
                overflow: hidden

                h5
                  font-weight: 700

                span
                  font-weight: 700

              .message-text
                position: relative

            .share-links
              float: right

              a
                margin-top: 1rem
                font-weight: 700
                margin-right: 5px
                background-color: $blue !important
                border-color: $blue !important
                border-radius: 3rem

              svg, i
                margin-right: 5px

