@import "partials/coach-card"
@import "partials/booking-form"
@import "partials/breadcrumb"

// --- Extendable Styles ---

%section-distance
  padding: 80px 0

%sections
  @extend %section-distance

  .c-title
    margin-bottom: 40px

  .btn-link
    background-color: $blue
    color: #fff
    margin-top: 1.25rem

%hover-effect
  position: relative
  z-index: 3
  transition: all .3s ease
  overflow: hidden

  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    z-index: 0
    transform: translate(-50%, -50%)
    transition: all .1s ease
    background-color: $dark-blue
    border-radius: 100%
    width: 0%
    height: 0%

  &:hover
    color: #fff !important
    background-color: $dark-blue
    border-color: $dark-blue

    &:before
      border-radius: 0
      width: 100%
      height: 100%
      top: 0
      left: 0
      transform: translate(0, 0)

  &.light
    &:before
      background-color: #fff

    &:hover
      color: $blue !important
      background-color: #fff !important
      border-color: #fff !important

  span
    position: relative
    z-index: 1
    line-height: 1

%force-centered
  display: flex
  align-items: center
  justify-content: center

%bg-cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

%link-hover
  position: relative
  text-decoration: none

  &:before
    content: ''
    position: absolute
    top: 50%
    left: -5px
    transform: translateY(-50%)
    background-color: $blue
    height: 1px
    width: 0
    transition: all .3s ease

  &:hover
    &:before
      width: calc(100% + 10px)
// --- Extendable Styles End ---

// --- Form Controls ---

.checkbox label .checkbox-decorator .check, label.checkbox-inline .checkbox-decorator .check
  border-color: $blue

.checkbox label input[type=checkbox]:checked + .checkbox-decorator .check:before, label.checkbox-inline input[type=checkbox]:checked + .checkbox-decorator .check:before
  color: $blue

.form-control, .custom-file-control, .is-focused .form-control, .is-focused .custom-file-control
  background-image: linear-gradient(to top, $blue 2px, rgba(0,150,136,0) 2px),linear-gradient(to top, rgba(0,0,0,0.26) 1px, rgba(0,0,0,0) 1px)

// --- Form Controls End ---

button.btn.btn-raised
  background-color: $blue !important
  border-color: $blue !important
  border-radius: 3rem
  margin-top: 1rem
  padding-left: 30px
  padding-right: 30px

  &:hover
    background-color: $dark-blue
    border-color: $dark-blue

.btn-link
  text-decoration: none
  text-transform: uppercase
  display: inline-block
  padding: 5px 15px
  border-radius: 50px
  transition: all .3s ease
  font-size: .875rem
  border: 1px solid $blue
  position: relative
  overflow: hidden
  text-decoration: none !important
  background-color: $blue
  color: #fff

  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    z-index: 0
    transform: translate(-50%, -50%)
    transition: all .1s ease
    background-color: $dark-blue
    border-radius: 100%
    width: 0%
    height: 0%

  &:hover
    color: #fff !important
    background-color: $dark-blue
    border-color: $dark-blue

    &:before
      border-radius: 50px
      width: 100%
      height: 100%
      top: 0
      left: 0
      transform: translate(0, 0)

  span
    position: relative
    z-index: 1

// --- JCF Plugin Syle ---
.bmd-form-group
  width: 100% !important

  .jcf-select
    margin: 0
    width: 100%
    border: none
    background-color: transparent
    height: 50px
    display: flex
    align-items: center
    max-width: 100%

    .jcf-select-text
      margin: 0 20px 0 0
      padding: 0 15px
      font-size: .875rem
      line-height: 1.2

    .jcf-select-opener
      background-color: transparent
      @extend %force-centered
      margin-right: 15px
      width: 12px

      &:before
        content: '' !important
        padding: 0 !important
        width: 8px
        height: 8px
        border-right: 2px solid $blue
        border-bottom: 2px solid $blue
        transform: rotate(45deg)
        cursor: pointer

.jcf-select-drop
  margin-top: 0 !important
  z-index: 9 !important

  &.jcf-compact-multiple
    .jcf-option
      display: flex
      align-items: center

      &.jcf-selected
        &:before
          height: 5px !important
          width: 8px !important
          margin: 0 5px 2px 0 !important
          border: none !important
          border-bottom: 2px solid $blue !important
          border-left: 2px solid $blue !important
          border-width: 2px !important

  .jcf-hover
    background-color: $light-grey !important

  .jcf-select-drop-content
    border-color: #ccc
    border: none
    overflow: hidden

    .jcf-list
      font-size: .875rem
      line-height: 1.2
// --- JCF Plugin Syle End ---


body
  font-family: Lato, Arial, Helvetica, sans-serif
  color: $black

main
  min-height: 50vh

.c-title
  font-size: 2rem
  font-weight: 900
  text-transform: uppercase
  text-align: center

.page-content
  padding-top: 70px
  background-color: $light-grey + #080808
