// --- Banner Row ---
#banner-row
  background-image: url(../img/3082.jpg)
  @extend %bg-cover
  @extend %force-centered
  height: 100vh
  overflow: hidden
  position: relative
  //display: none

.bg-pattern-img
  img
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: auto

    &:nth-child(1)
      z-index: 3
    &:nth-child(2)
      z-index: 2
    &:nth-child(3)
      z-index: 1

  &:before
    content: ''
    position: absolute
    top: -50%
    left: 0
    z-index: 0
    width: 50%
    height: 200%
    background: linear-gradient(to left, rgba(#fff, .25), transparent, transparent)
    transform: rotate(25deg)

#banner-form
  width: 70%
  position: relative
  z-index: 4

  #banner-title
    color: #fff
    text-align: center
    font-size: 3.25rem
    font-weight: 900
    margin-bottom: 30px
// --- Banner Row End ---

// --- Advantages Row ---
#advantages
  @extend %section-distance
  background-color: $light-grey + #080808

  .advantage
    text-align: center
    margin: 15px 0

    .icon-img
      width: 120px
      height: 120px
      margin: auto
      border-radius: 100%
      @extend %force-centered
      background: linear-gradient(25deg, $dark-blue - #222, $blue)
      position: relative

      &:after
        content: ''
        position: absolute
        top: 7px
        left: 7px
        width: calc(100% - 14px)
        height: calc(100% - 14px)
        border: 1px dashed $light-grey
        border-radius: 100%

      img
        max-width: 50px
        max-height: 50px
        width: auto
        height: auto

    .title
      font-size: 1rem
      font-weight: 900
      text-transform: uppercase
      margin: 12px auto 4px
      height: 40px

    .txt
      color: $grey
      font-size: .875rem
      margin: 0
// --- Advantages Row End ---

// --- Coach Type Row ---
#coach-types
  @extend %sections

  .slick-arrow
    position: absolute
    height: 100%
    width: 100px
    top: 0
    z-index: 1
    border: none
    transform: translate(0, 0)
    @extend %force-centered

    &:before
      color: $blue
      font-size: 4rem
      opacity: 1
      text-shadow: 3px 3px 9px rgba($grey, .75)

    &.slick-prev
      left: 0
      background: linear-gradient(to right, rgba(#fff, .6), transparent)
      justify-content: flex-start

      &:before
        content: '\2329'

    &.slick-next
      right: 0
      background: linear-gradient(to left, rgba(#fff, .6), transparent)
      justify-content: flex-end

      &:before
        content: '\232A'

  .slick-dots
    bottom: -40px

    li
      width: auto
      height: auto
      margin: 0 3px

      button
        padding: 0
        background-color: $light-grey - #222
        height: 8px
        width: 8px
        border-radius: 10px
        transition: all .3s ease

        &:before
          display: none

      &.slick-active
        button
          background-color: $blue
          width: 20px

  .type-item
    @extend %bg-cover
    @extend %force-centered
    flex-direction: column
    width: 280px
    height: 400px
    padding: 15px
    border-radius: 10px
    overflow: hidden
    text-align: center
    position: relative
    margin: 0 5px

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      height: 100%
      width: 100%
      transition: all .3s ease

    &:before
      background-color: $black
      opacity: .5

    &:after
      background: linear-gradient(25deg, $dark-blue, $blue)
      opacity: 0
      visibility: hidden


    .title
      text-transform: uppercase
      font-size: 1.5rem
      font-weight: 900
      z-index: 1
      color: #fff

    .description
      color: #fff
      z-index: 1

    .link
      position: absolute
      bottom: 20px
      z-index: 1
      border: 2px solid #fff
      border-radius: 30px
      padding: 3px 30px 5px
      text-decoration: none
      opacity: 0
      visibility: hidden
      transition: all .3s ease
      color: #fff
      @extend %hover-effect

    &:hover
      &:after
        opacity: .5
        visibility: visible

      .link
        bottom: 40px
        opacity: 1
        visibility: visible
// --- Coach Type Row End ---

// --- Featured Coaches Row ---
#featured-coaches
  @extend %sections
  background-color: rgba($blue, .5)
  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background-image: url(../img/226.jpg)
    background-attachment: fixed
    @extend %bg-cover

  .c-title
    color: #fff

  .slick-arrow
    position: absolute
    top: 50%
    z-index: 1
    border: none
    @extend %force-centered
    width: 0
    height: 0

    &:before
      color: $blue
      font-size: 3rem
      opacity: 1
      text-shadow: 3px 3px 9px rgba($grey, .75)

    &.slick-prev
      left: 10px

      &:before
        content: '\2329'

    &.slick-next
      right: 10px

      &:before
        content: '\232A'

  .slick-dots
    bottom: -40px

    li
      width: auto
      height: auto
      margin: 0 3px

      button
        padding: 0
        background-color: $light-grey - #111
        height: 8px
        width: 8px
        border-radius: 10px
        transition: all .3s ease

        &:before
          display: none

      &.slick-active
        button
          background-color: #fff
          width: 20px

  .slick-featured-coaches
    .item
      width: calc(100% / 3 - 30px)
      padding: 0 10px
// --- Featured Coaches Row End ---

#contact-us-section
  padding: 5rem 0
  background-color: #f5f5f5

  .title-description
    color: #555
    text-align: center

  form
    margin: 0

  .region-txt
    margin-top: 2rem

  button.btn.btn-raised
    margin-top: 2rem

#blog-section
  margin-bottom: 5rem

  .title-txt
    text-transform: uppercase
    font-weight: 900
    font-size: .875rem
    text-align: center

  .description-txt
    font-size: 1.5rem
    font-weight: 900
    text-align: center
    margin-bottom: 3rem

  .news-preview
    border: 1px solid #ccc
    padding: 25px 20px
    transition: all .3s ease

    &:hover
      background-color: $blue
      border-color: $blue

      *
        color: #fff !important

    .publish-date
      font-size: .75rem
      font-weight: 900
      text-transform: uppercase

    .news-title
      margin-top: 1rem
      margin-bottom: 1rem
      font-weight: 900

    .news-link
      text-decoration: none
      color: $black

      &:after
        content: '\2192'
        font-weight: 900
        margin-left: 5px

@media screen and (max-width: 1200px)
  #banner-form
    width: 90%

@media screen and (max-width: 767px)
  #banner-form
    #banner-title
      font-size: 2.5rem

@media screen and (max-width: 500px)
  .bg-pattern-img
    svg, img
      left: 50%
      transform: translateX(-50%)
  #banner-form
    #banner-title
      font-size: 2rem

@media screen and (orientation: portrait)
  .bg-pattern-img
    svg, img
      left: 50%
      transform: translateX(-50%)
