.info-section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  padding: 0 15%

  .info-title
    font-size: 2rem
    font-weight: 700
    margin-bottom: 1rem

  .btn-link
    background-color: $blue
    color: #fff
    margin-top: 1.25rem

// -- Banner Row

#banner-row
  background-size: cover
  background-image: url(../img/banner-row.jpg)
  @extend %bg-cover
  @extend %force-centered
  height: 100vh
  overflow: hidden
  position: relative

  &:before
    content: ''
    position: absolute
    top: -50%
    left: 0
    width: 50%
    height: 200%
    background: linear-gradient(to left, rgba(#fff, .25), transparent, transparent)
    transform: rotate(25deg)

#banner-form
  width: 60%

  #banner-title
    color: #fff
    text-align: center
    font-size: 2.75rem
    font-weight: 700

// -- Banner Row End

#our-story
  padding-top: 100px
  padding-bottom: 50px

#partner-list
  padding: 30px 0
  box-shadow: 0 2px 15px 0 rgba(#888, 0.25)

  .partners-title
    text-transform: uppercase
    font-size: 1.25rem
    font-weight: 700

.partners-logo
  display: flex
  align-items: center
  justify-content: space-between

  a
    img
      max-height: 26px
      width: auto


.shortinfo-item
  &.colored
    background-color: $light-mint

.shortinfo
  margin: auto
  width: 80%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  height: 100%

.shortinfo-title
  font-size: 1.5rem
  font-weight: 700

.shortinfo-txt
  margin: 1rem 0
  text-align: justify


