// --- Banner Row ---
#banner-row
  background-image: url(../img/banner-row.jpg)
  @extend %bg-cover
  @extend %force-centered
  height: 100vh
  overflow: hidden
  position: relative

  &:before
    content: ''
    position: absolute
    top: -50%
    left: 0
    z-index: 0
    width: 50%
    height: 200%
    background: linear-gradient(to left, rgba(#fff, .25), transparent, transparent)
    transform: rotate(25deg)

#banner-form
  width: 70%

  #banner-title
    color: #fff
    text-align: center
    font-size: 3.25rem
    font-weight: 900
// --- Banner Row End ---

// --- Advantages Row ---
#advantages
  @extend %section-distance
  background-color: $light-grey + #080808

  .advantage
    text-align: center

    .icon-img
      width: 120px
      height: 120px
      margin: auto
      border-radius: 100%
      @extend %force-centered
      background: linear-gradient(25deg, $dark-blue, $dark-blue, $blue)
      position: relative

      &:after
        content: ''
        position: absolute
        top: 7px
        left: 7px
        width: calc(100% - 14px)
        height: calc(100% - 14px)
        border: 1px dashed $light-grey
        border-radius: 100%

      img
        max-width: 50px
        max-height: 50px
        width: auto
        height: auto

    .title
      font-size: 1rem
      font-weight: 900
      text-transform: uppercase
      margin: 12px auto 4px
      height: 40px

    .txt
      color: $grey
      font-size: .875rem
      margin: 0
// --- Advantages Row End ---

// --- Coach Type Row ---
#coach-types
  @extend %sections

  .slick-arrow
    position: absolute
    height: 100%
    width: 100px
    top: 0
    z-index: 1
    border: none
    transform: translate(0, 0)
    @extend %force-centered

    &:before
      color: $blue
      font-size: 4rem
      opacity: 1
      text-shadow: 3px 3px 9px rgba($grey, .75)

    &.slick-prev
      left: 0
      background: linear-gradient(to right, rgba(#fff, .6), transparent)
      justify-content: flex-start

      &:before
        content: '\2329'

    &.slick-next
      right: 0
      background: linear-gradient(to left, rgba(#fff, .6), transparent)
      justify-content: flex-end

      &:before
        content: '\232A'

  .slick-dots
    bottom: -40px

    li
      width: auto
      height: auto
      margin: 0 3px

      button
        padding: 0
        background-color: $light-grey - #222
        height: 8px
        width: 8px
        border-radius: 10px
        transition: all .3s ease

        &:before
          display: none

      &.slick-active
        button
          background-color: $blue
          width: 20px

  .type-item
    @extend %bg-cover
    @extend %force-centered
    flex-direction: column
    width: 280px
    height: 400px
    padding: 10px
    border-radius: 15px
    overflow: hidden
    text-align: center
    position: relative

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      height: 100%
      width: 100%
      transition: all .3s ease

    &:before
      background-color: $black
      opacity: .5

    &:after
      background: linear-gradient(25deg, $dark-blue, $blue)
      opacity: 0
      visibility: hidden


    .title
      text-transform: uppercase
      font-size: 1.5rem
      font-weight: 900
      z-index: 1
      color: #fff

    .description
      color: #fff
      z-index: 1

    .link
      position: absolute
      bottom: 2px
      z-index: 1
      border: 2px solid #fff
      border-radius: 30px
      padding: 3px 30px 5px
      text-decoration: none
      opacity: 0
      //visibility: hidden
      transition: all .3s ease
      color: #fff
      @extend %hover-effect

    &:hover
      &:after
        opacity: .5
        visibility: visible

      .link
        bottom: 40px
        opacity: 1
        visibility: visible
// --- Coach Type Row End ---

// -- Featured Coaches Row ---
#featured-coaches
  @extend %sections
  background-color: rgba($blue, .5)
  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background-image: url(../img/226.jpg)
    background-attachment: fixed
    @extend %bg-cover

  .section-title
    color: #fff

  .slick-arrow
    position: absolute
    top: 50%
    z-index: 1
    border: none
    transform: translateY(-50)
    @extend %force-centered

    &:before
      color: #fff
      font-size: 1.5rem
      opacity: 1
      text-shadow: 3px 3px 9px rgba($grey, .75)

    &.slick-prev
      left: -40px

      &:before
        content: '\2329'

    &.slick-next
      right: -40px

      &:before
        content: '\232A'

  .slick-dots
    bottom: -40px

    li
      width: auto
      height: auto
      margin: 0 3px

      button
        padding: 0
        background-color: $light-grey - #111
        height: 8px
        width: 8px
        border-radius: 10px
        transition: all .3s ease

        &:before
          display: none

      &.slick-active
        button
          background-color: #fff
          width: 20px

  .slick-featured-coaches
    .item
      width: calc(100% / 3 - 30px)
      padding: 0 10px

  .coach-card
    width: 100%
    border-radius: 15px
    overflow: hidden
    position: relative
    box-shadow: 0px 3px 10px  0 rgba($black, 0.25)

    .card-top-info
      position: absolute
      top: 0
      left: 0
      z-index: 1
      width: 100%
      padding: 15px
      display: flex
      align-items: center
      justify-content: space-between
      background: linear-gradient(rgba($black, .85), transparent)
      line-height: 1

    .add-to-wishlist
      color: #fff
      cursor: pointer

      div
        font-size: 2rem
        overflow: hidden

        &.filled
          width: 0
          height: 0
          font-size: 0
      &:hover, &.in-list
        .filled
          font-size: 2rem
          width: auto
          height: auto

        .stroke
          width: 0
          height: 0
          font-size: 0

    .top-right-side
      text-align: right

    .rating
      display: flex
      color: $yellow
      margin-bottom: 5px

      .rating-star
        margin-right: 5px

        &:last-child
          margin-right: 0

    .comment-link
      color: #fff

    .link-body
      display: flex
      flex-direction: column
      height: 400px
      text-decoration: none

      .link-header
        height: 50%
        @extend %bg-cover
        position: relative

      .info-belt
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        @extend %force-centered
        height: 50px

        .txt-item
          @extend %force-centered
          flex-direction: column
          color: #fff
          width: 100px
          line-height: 1.2

          .txt-label
            text-transform: uppercase
            font-size: .875rem

          .price
            font-weight: 900

        .coach-avatar
          width: 96px
          height: 96px
          border-radius: 100%
          overflow: hidden
          @extend %bg-cover
          border: 4px solid #fff
          box-shadow: 0 1px 2px 0 rgba($black, 0.15)

      .link-footer
        height: 50%
        background-color: #fff
        padding: 30px 15px 15px

        .coach-full-name
          text-align: center
          font-weight: 900
          color: $blue
          margin-bottom: 10px

        .location
          text-align: center
          font-size: .875rem
          color: $light-grey - #333

        .proff-list
          text-align: center

          span
            color: $black
            display: inline-block
            border: 1px solid $light-grey
            border-radius: 15px
            padding: 5px 15px
            margin: 5px
            font-size: .875rem

            &:last-child
              font-weight: 900
              background-color: $blue
              border-color: $blue
              color: #fff
// -- Featured Coaches Row End ---

#our-story
  padding-top: 50px
  padding-bottom: 50px

#partners-list
  padding: 30px 0
  box-shadow: 0px 2px 15px 0px rgba(#888, 0.25)
  display: none

  .partners-title
    text-transform: uppercase
    font-size: 1.25rem
    font-weight: 900

.partners-logo
  display: flex
  align-items: center
  justify-content: space-between

  a
    img
      max-height: 26px
      width: auto

.shortinfo-item
  &.colored
    background-color: $light-mint

.shortinfo
  margin: auto
  width: 80%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  height: 100%

.shortinfo-title
  font-size: 1.5rem
  font-weight: 900

.shortinfo-txt
  text-align: justify
  margin: 1rem 0

#numbers
  border-top: 1px solid #ccc
  margin-top: 5rem
  margin-bottom: 5rem

  .numbers-text
    text-align: center
    font-size: 1.5rem
    font-weight: 900
    margin: 3rem auto 1rem

  .circles
    display: flex
    justify-content: center

    .circle-item
      height: 250px
      width: 250px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      border: 1px solid #ccc
      border-radius: 100%
      margin: 2rem

      p
        font-size: 3rem
        font-weight: 900
        margin-bottom: 0


#blog-section
  margin-bottom: 5rem

  .title-txt
    text-transform: uppercase
    font-weight: 900
    font-size: .875rem
    text-align: center

  .description-txt
    font-size: 1.5rem
    font-weight: 900
    text-align: center
    margin-bottom: 3rem

