.listing-post
  margin: 15px 0
  padding: 10px
  background-color: $light-grey
  border-radius: 15px
  position: relative
  overflow: hidden

  .img-holder
    display: flex
    border-radius: 10px
    overflow: hidden

    img
      width: 100%
      height: auto

  .box-holder
    position: absolute
    bottom: 10px
    left: 10px
    width: calc(100% - 20px)

    .btn-list
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      padding: 0 15px

      a
        border-radius: 30px
        @extend %force-centered
        background-color: $blue
        @extend %hover-effect
        color: #fff
        margin: 0 5px 10px
        text-transform: uppercase
        padding: 10px 30px
        font-size: .875rem
        width: 90px
        flex: 1
        min-width: 90px

      .select-wrap
        background-color: #fff
        border-radius: 30px
        overflow: hidden
        height: 34px
        width: 100%
        margin: 0 5px 10px

        .jcf-select
          height: 34px

    .foot
      background-color: rgba(#fff, .7)
      padding: 15px
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      display: flex
      justify-content: space-between

      h2
        font-size: 1.25rem

      .time-price
        strong
          font-size: 2rem
          line-height: 1
          display: flex
          align-items: center

          sup
            margin-left: 5px
            font-size: 1rem
            line-height: 1

        p
          font-size: .75rem
          margin-bottom: 0
