footer
    .container
        .row
            .col-lg-6
                a(href="#")#footer-logo
                    +renderimg("logo.png").img-fluid
                p
                    a(href="#").contact-link
                        span
                            i.fas.fa-envelope
                        |test@test.com

                p
                    a(href="#").contact-link
                        span
                            i.fas.fa-phone
                        |(303) 630-9454

                p
                    a(href="#")#contact_us_btn.btn-link
                        span Contact Us

            .col-lg-3
                #footer-nav
                    p.footer-section-title Quick Links

                    ul
                        each val in ['Menu1', 'Menu2', 'Menu3', 'Menu4']
                            li
                                a(href="#")= val

            .col-lg-3
                #footer-address
                    p.footer-section-title Our location
                    p.footer-address 12344, Wkkk, St. Unit ll11 Denver, CO 808080

                    p.footer-section-title Social

                    .social-links
                        a(href="#").social-link
                            i.fab.fa-facebook-f
                        a(href="#").social-link
                            i.fab.fa-twitter
                        a(href="#").social-link
                            i.fab.fa-instagram

        #footer-bottom
            span.rights @ 2018 SonderCenters. All Rights Reversed.

            ul
                each val in ['Terms And Conditions', 'Privacy Policy', 'FAQ']
                    li
                        a(href="#")= val
