footer
  .container
    .row
      .col-lg-6.col-md-6
        a(href="#")#footer-logo
          +renderimg("logo.png").img-fluid

        p
          a(href="mailto:sample@mail.com").contact-link
            span
              i.fas.fa-envelope
            |sondercentersfranchise@info.com
        p
          a(href="tel:000000000").contact-link
            span
              i.fas.fa-phone
            |(303) 630-9454

        p
          a(href="#")#contact_us-btn.btn-link
            span Contact Us

      .col-md-3.col-6
        #footer-nav
          p.footer-section-title Quick Links

          ul
            each val in ['Why', 'Opportunities', 'Numbers', 'Training And Support', 'Process', 'Apply Now']
              li
                a(href="#")= val

      .col-md-3.col-6
        #footer-address
          p.footer-section-title Our Location
          p.footer-address 1738, Wyncoop St, Unit LL 1, Denver, CO 80202

          p.footer-section-title Social

          .social-links
            a(href="#").social-link
              span
                i.fab.fa-facebook-f
            a(href="#").social-link
              span
                i.fab.fa-twitter
            a(href="#").social-link
              span
                i.fab.fa-instagram

    #footer-bottom
      span.rights ©2018 SonderCenters. All Rights Reserved.

      ul
        each val in ['Terms And Conditions', 'Privacy Policy', 'FAQ']
          li
            a(href="#")= val
