header
    .container-fluid
        .row.align-items-center
            .col-lg-5

            .col-lg-2.col-md-4
                #logo
                    a(href="/")
                        img(src=require("../../img/logo.svg")).img-fluid

            .col-lg-5.col-md-8.text-right
                #btn-link
                    a(href="#") I'm a Physiotherapist
