doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title= `Coach » ${htmlWebpackPlugin.options.title}`

        link(rel="stylesheet" href="css/style.bundle.css")

    body
        include header

        block wrapper

        include footer

        script(src="js/bundle.js")
