doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title= `Coach » ${htmlWebpackPlugin.options.title}`

		link(rel="icon" type="image/png", href="../../img/favicon-16x16.png", sizes="16x16")
		link(rel="icon" type="image/png", href="../../img/favicon-32x32.png", sizes="32x32")
		link(rel="icon" type="image/png", href="../../img/favicon-96x96.png", sizes="96x96")

		link(rel="stylesheet" href="css/style.bundle.css")

	body
		#wrapper
			include header

			block wrapper

			include footer

			script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMnzRjwYxJCaaQ_JzmJp0aIlpWFG_nYw4" async defer)
			script(src="js/common.js")
			block page-scripts
