extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-list.js")

block wrapper
	main#coach-list
		.container
			include ../includes/booking-form

			//include ../includes/breadcrumb
			.row.no-gutters
				.col-lg-4
					#coach-list-map-wrap
						#coach-list-map


				.col-lg-8
					#coach-list-catalog
						h3.coach-list-title Select a coach & book your FREE SESSION directory from the coach profile
						.row
							- for (var x = 0; x <= 5; x++)
								.col-lg-6
									include ../includes/coach-card
