extends ../includes/layout
include ../includes/mixins

block wrapper
	#coach-list.page-content
		.container
			include ../includes/booking-form
			h1.c-title Select a coach & book your FREE SESSION directory from the coach profile

			include ../includes/breadcrumb
			.row
				.col-lg-4
					include ../includes/filter
				.col-lg-8
					.row
						- for (var x = 0; x <= 5; x++)
							.col-lg-6
								include ../includes/coach-card
