extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard.js")

block wrapper
	main#coach-dashboard
		.container
			//h1.c-title Silvia Di Bonaventura

			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					each val in ['Mi Message', 'Mi Bookings', 'My Parents']
						li
							a(href="#")= val

					li
						a(href="#").active My Profile

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="#").active About Me

							each val in ['Payment Information', 'Contact Information']
								li
									a(href="#")= val
