extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard.js")

block wrapper
	main#coach-dashboard
		.container
			h1.c-title Silvia Di Bonaventura

			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					each val in ['Mi Message', 'Mi Bookings', 'My Parents']
						li
							a(href="#")= val

					li
						a(href="#").active My Profile
