extends ../includes/layout

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					li
						a(href="/coach-dashboard-messages.html") Mi Message
					li
						a(href="/coach-dashboard-bookings.html") Mi Bookings
					li
						a(href="/coach-dashboard-payments.html").active My Payments
					li
						a(href="#") My Comments
					li
						a(href="/coach-dashboard-aboutme.html") My Profile

			#dashboard-mypayments.dashboard-section
				.container-fluid
					.row
						.col-lg-8.offset-lg-2
							table.table.table-striped
								thead
									tr
										th(scope="col") Booking number
										th(scope="col") Date of payment
										th(scope="col") Amount
										th(scope="col") Status
										th(scope="col") Bill
								tbody
									tr
										td(scope="row")
											a(href="#") #5406388
										td -
										td €53.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #9506234
										td -
										td €130.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #2606388
										td -
										td €33.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #1206098
										td -
										td €90.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #5406388
										td -
										td €53.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #9506234
										td -
										td €130.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #2606388
										td -
										td €33.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #1206098
										td -
										td €90.10
										td In progress
										td -
									tr
										td(scope="row")
											a(href="#") #5406388
										td -
										td €53.10
										td In progress
										td -

					include ../includes/pagination
