extends ../includes/layout

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content.card
			nav#dash-board-nav
				ul
					each val, index in {'Mi Message': 1, 'Mi Bookings': 0, 'My Payments': 0, 'My Comments': 0, 'My Profile': 0}
						if val === 1
							li
								a(href="#").active= index
						else
							li
								a(href="#")= index

			.container-fluid
				h5 555 results
				.row

					.col-lg-12
						.card
							.card-body
								.img-holder
									a(href="#")
										+renderimg("user-comment-photo.png")
								.holder
									.message-header
										h5.card-title Titre du message
										span Date: 02.12.2018

									.message-text
										p Personne avec qui vous discutez:
											strong Anthoni N.
										p
											strong Anthoni N. dit:
											|ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...Anthoni N. dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...Anthoni N. dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...

								.share-links
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-share-square
										|Share
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-comment
										|Comments
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-trash
										| Delete

					.col-lg-12
						.card
							.card-body
								.img-holder
									a(href="#")
										+renderimg("default-user.png")
								.holder
									.message-header
										h5.card-title Titre du message
										span Date: 02.12.2018

									.message-text
										p Personne avec qui vous discutez:
											strong Anthoni N.
										p
											strong Anthoni N. dit:
											|ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...Anthoni N. dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...Anthoni N. dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus...

								.share-links
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-share-square
										|Share
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-comment-alt
										|Comments
									a(href="#" class="btn btn-primary btn-raised")
										i.fas.fa-trash
										|Delete

					.col-lg-12
						nav
							ul.pagination.justify-content-center
								li.page-item.disabled
									a(href="#").page-link Previous
								li.page-item.active
									a(href="#").page-link 1
								li.page-item
									a(href="#").page-link 2
								li.page-item
									a(href="#").page-link 3
								li.page-item
									a(href="#").page-link 4
								li.page-item
									a(href="#").page-link Next
