extends ../includes/layout

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					each val, index in {'Mi Message': 0, 'Mi Bookings': 0, 'My Payments': 0, 'My Comments': 0, 'My Profile': 1}
						if val === 0
							li
								a(href="#")= index
						else
							li
								a(href="#").active= index

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="coach-dashboard-aboutme.html") About Me
							li
								a(href="coach-dashboard-paymentinformation.html") Payment Information
							li
								a(href="coach-dashboard-contact.html").active Contact Information

					.tab-content
						.container-fluid
							h5.text-center.tab-title Contact information

							.row
								.col-lg-6
									.card.profile-card-item
										.card-body
											.card-element
												p.element-label Email
												.input-wrap
													input(type="text" value="e-mail@gmail.com")

											.card-element
												p.element-label Phone prefix
												.input-wrap
													input(type="text" value="+35")

											.card-element
												p.element-label Phone
												.input-wrap
													input(type="text" value="87698709879")

											.card-element
												p.element-label Timezone
												.select-wrap
													select(
														placeholder="Timezone"
														data-jcf={
															multipleCompactStyle: true
														}
													).jcf-hidden
														each val, index in ['Etc/GMT+12', "Etc/GMT+11", "Pacific/Midway", "Pacific/Niue", "Pacific/Pago_Pago", "Etc/GMT+10", "Pacific/Honolulu", "Pacific/Johnston", "Pacific/Rarotonga", "Pacific/Tahiti"]
															option(val= index)= val
											.card-element
												p.element-label Password
												.input-wrap
													input(type="password" placeholder="password")

											.card-element
												p.element-label Verification
												.input-wrap
													input(type="password" placeholder="verification")
								.col-lg-6
									.card.profile-card-item
										.card-body
											h5 Billing Address
											.card-element
												p.element-label Address
												.input-wrap
													textarea(rows=4)

											.card-element
												p.element-label City
												.input-wrap
													input(type="text" placeholder="city...")

											.card-element
												p.element-label Postal code
												.input-wrap
													input(type="text" placeholder="postal code...")

											.card-element
												p.element-label Country
												.input-wrap
													include ../includes/country-list

											.card-element
												p.element-label BIC
												.input-wrap
													input(type="text" placeholder="BIC")

							.button-row
								button(type="submit").btn.btn-primary.btn-raised
									span Update
