extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-profile.js")

block wrapper
	main#coach-profile
		.container
			include ../includes/booking-form
			h1.c-title Silvia Di Bonaventura

			include ../includes/breadcrumb
