extends ../includes/layout

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					li
						a(href="/coach-dashboard-messages.html").active Mi Message
					li
						a(href="/coach-dashboard-bookings.html") Mi Bookings
					li
						a(href="/coach-dashboard-payments.html") My Payments
					li
						a(href="#") My Comments
					li
						a(href="/coach-dashboard-aboutme.html") My Profile

			#dashboard-review.dashboard-section
				.container
					.row.justify-content-center
						.col-lg-8
							#review-form
								.review-form-header
									.avatar-wrap
										a(href="#")
											+renderimg('default-user.png')

									.review-content
										h5.review-title
											a(href="#") Title Of Review


										.patient
											a(href="#")
												+renderimg('default-user.png')

											.box
												p.tagged The person you notice:
													a(href="#") Anthoni N

												.average-grade
													p Average grade:
													include ../includes/rating-stars

								form

									.review-txt-area
										p Your comment:
										textarea(placeholder="Write your message...")

									.review-btns
										button(type="submit").c-button.colored-btn
											span Publish The Commentary

