extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard.js")

block wrapper
	main#coach-dashboard
		.container
			h1.c-title Silvia Di Bonaventura

			include ../includes/breadcrumb
