extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard-messages.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					li
						a(href="/coach-dashboard-messages.html").active Mi Message
					li
						a(href="#") Mi Bookings
					li
						a(href="/coach-dashboard-payments.html") My Payments
					li
						a(href="#") My Comments
					li
						a(href="/coach-dashboard-aboutme.html") My Profile

			#dashboard-messages.dashboard-section
				.container-fluid
					.row

						span.result-counter 3 Results

						.col-12
							.message-card
								.message-preview-img
									a(href="#")
										+renderimg('default-user.png')

								.message-content
									.content-header
										h5.message-title
											a(href="#") Titre du message
										span.message-date Date: 25/02/2018

									.message-middle
										p.message-author You are tanking to:
											span Antony N
										include ../includes/rating-stars

									.message-footer
										p
											b Antony N.
											| dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus..
											a(href="#") [Read More]

								.message-btns
									a(href="#")
										span Open

									a(href="#")
										span Reply

									a(href="#")
										span Delete

						.col-12
							.message-card
								.message-preview-img
									a(href="#")
										+renderimg('default-user.png')

								.message-content
									.content-header
										h5.message-title
											a(href="#") Titre du message
										span.message-date Date: 25/02/2018

									.message-middle
										p.message-author You are tanking to:
											span Antony N
										include ../includes/rating-stars

									.message-footer
										p
											b Antony N.
											| dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus..
											a(href="#") [Read More]

								.message-btns
									a(href="#")
										span Open

									a(href="#")
										span Reply

									a(href="#")
										span Delete

						.col-12
							.message-card
								.message-preview-img
									a(href="#")
										+renderimg('default-user.png')

								.message-content
									.content-header
										h5.message-title
											a(href="#") Titre du message
										span.message-date Date: 25/02/2018

									.message-middle
										p.message-author You are tanking to:
											span Antony N
										include ../includes/rating-stars

									.message-footer
										p
											b Antony N.
											| dit: ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus. Quisque non urna et lectus tempor aliquam. Maecenas vitae lacus posuere, egestas est sed, fringilla lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus..
											a(href="#") [Read More]

								.message-btns
									a(href="#")
										span Open

									a(href="#")
										span Reply

									a(href="#")
										span Delete

					include ../includes/pagination
