extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard-review.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					li
						a(href="#").active Mi Message
					li
						a(href="#") Mi Bookings
					li
						a(href="#") My Payments
					li
						a(href="#") My Comments
					li
						a(href="/coach-dashboard-aboutme.html") My Profile

			#dashboard-review.dashboard-section
				.container
					.row.justify-content-center
						.col-lg-8
							#review-form
								.review-form-header
									.avatar-wrap
										a(href="#")
											+renderimg('default-user.png')

									.review-content
										h5.review-title
											a(href="#") Title Of Review

										p.tagged The person you notice:
											a(href="#") Anthoni N

										.date-handler
											p Start Date:
												span 12/05/2015
											p Start End:
												span 12/06/2015

										.average-grade
											p Average grade:
											include ../includes/rating-stars

								form
									.rate-user
										span Rate this user:

										.rate-form
											each val in [1, 2, 3, 4, 5]
												.rate-level
													input(type="checkbox" id="rate-level-" + val class="rate-level-input" value= val hidden)
													label(for="rate-level-" + val).rate-level-label
														.filled-star
															i.fas.fa-star

														.stroke-star
															i.far.fa-star

									.review-txt-area
										p Your comment:
										textarea(placeholder="Be polite, think about how your opinion can help others to form an opinion.")

									.review-btns
										button(type="reset").c-button.white-btn
											span Cancel
										button(type="submit").c-button.colored-btn
											span Publish The Commentary
