extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/index.js")

block wrapper
	#banner-row
		.bg-pattern-img
			+renderimg('bg-1-pattern.svg')
			+renderimg('bg-2-pattern.svg')
			+renderimg('bg-3-pattern.svg')

		#banner-form
			h2#banner-title Book a free session with a coach of your choice

			include ../includes/booking-form

	#advantages
		.container
			.row
				.col-lg-3.col-sm-6
					.advantage
						.icon-img
							+renderimg("ico-certificate.png")
						h5.title Certified, verified & reviewed
						p.txt.
							All coaches are certified and verified according to high standards. Reviews of previous clients are displayed transparently
				.col-lg-3.col-sm-6
					.advantage
						.icon-img
							+renderimg("ico-figures.png")
						h5.title Free intake
						p.txt.
							Meet a potential coach with no obligation. Then decide if you wish to continue with the coach, or not
				.col-lg-3.col-sm-6
					.advantage
						.icon-img
							+renderimg("ico-video-conversation.png")
						h5.title Anytime anywhere
						p.txt.
							Get face-to-face or virtual coaching using common tools such as Skype or FaceTime at time and place that work for you
				.col-lg-3.col-sm-6
					.advantage
						.icon-img
							+renderimg("ico-hand.png")
						h5.title Easy-to-use
						p.txt.
							Clear information to help you find the perfect coach as well as seamless booking and secure payment process

	#coach-types
		h5.c-title What type of coaching are you looking for?

		.slick-coach-types
			.item
				.type-item(style={"background-image": "url('./img/life-coaching.jpg')"})
					h5.title Life Coaching
					p.description.
						Life coaching value lies in connecting the different aspects of your life in a single powerful strategy and action plan. The right life coach will help you reach the clarity.
					a(href="#").link.light
						span Search Now
			.item
				.type-item(style={"background-image": "url('./img/leadership-coaching.jpg')"})
					h5.title Leadership Coaching
					p.description.
						Leaders need to constantly develop if they are to maintain a positive and lasting impact on their teams and organizations. An experienced leadership coach is your ally in your pursuit of excellence.
					a(href="#").link.light
						span Search Now
			.item
				.type-item(style={"background-image": "url('./img/career-coaching.jpg')"})
					h5.title Career Coaching
					p.description.
						A gratifying and meaningful career is critical to leading a fulfilling life. Whether you are searching for the right career, or find yourself at a crossroads wondering which route to take.
					a(href="#").link.light
						span Search Now
			.item
				.type-item(style={"background-image": "url('./img/mentoring.jpg')"})
					h5.title Mentoring
					p.description.
						A mentor is a guide – someone who had walked the path that you wish to follow and faced the challenges you are encountering. Mentors are seasoned experts with a wealth of experience to share in a specific proficiency.
					a(href="#").link.light
						span Search Now
			.item
				.type-item(style={"background-image": "url('./img/health-coaching.jpg')"})
					h5.title Health Coaching
					p.description.
						The pressures of a modern lifestyle and escalating work demands make it difficult to maintain optimal health, but when your health has slipped too far it is often necessary to acquire the assistance of a professional coach.
					a(href="#").link.light
						span Search Now

	#featured-coaches
		.container
			h5.c-title The Best Rated Coaches

			.slick-featured-coaches
				- for (var x = 0; x < 5; x++)
				.item
					include ../includes/coach-card

	#contact-us-section
		.container
			h5.c-title Contact us to start your journey
			p.title-description Use the form below to contact us regarding your interest becoming a SonderMind Franchisee

			form
				.row
					.col-lg-6
						.form-group
							label(for="contact-first-name").bmd-label-floating First Name
							input(type="text" name="firstName")#contact-first-name.form-control

					.col-lg-6
						.form-group
							label(for="contact-last-name").bmd-label-floating Last Name
							input(type="text" name="lasttName")#contact-last-name.form-control

					.col-lg-6
						.form-group
							label(for="contact-phone").bmd-label-floating Phone
							input(type="text" name="phone")#contact-phone.form-control

					.col-lg-6
						.form-group
							label(for="contact-email").bmd-label-floating Email
							input(type="text" name="email")#contact-email.form-control

				.row
					.col-12.text-center
						p.region-txt Region You're Interested In:

					.col-md-6.text-center
						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

					.col-md-6.text-center
						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

						.checkbox
							label
								input(type="checkbox" name="acceptTerms")
								| Northeast (ME, NH, VT, NY, MA, CT)

					.col-12.text-center
						button(type="submit").btn.btn-primary.btn-raised Submit
