extends ../includes/layout
include ../includes/mixins

block wrapper
    main#index-page
        #banner-row
            #banner-form
                h2#banner-title Book a free session with a coach of your choice

                .booking-form
                      form
                            .form-elements
                                  .select-items
                                        .select-wrap
                                              select(
                                                    multiple
                                                    placeholder="Coaching type..."
                                                    data-jcf={
                                                      multipleCompactStyle: true
                                                    }
                                              ).jcf-hidden
                                                    optgroup(label="Category 1")
                                                        option(val="v1.1") Option 1
                                                        option(val="v1.2") Option 2
                                                        option(val="v1.3") Option 3
                                                    optgroup(label="Category 1")
                                                        option(val="v2.1") Option 1
                                                        option(val="v3.2") Option 2
                                                        option(val="v4.3") Option 3
                                                    optgroup(label="Category 1")
                                                        option(val="v3.1") Option 1
                                                        option(val="v3.2") Option 2
                                                        option(val="v3.3") Option 3

                                        .select-wrap
                                              select(
                                                    placeholder="Coaching type..."
                                              ).jcf-hidden
                                                    option(val="v2") Option 0
                                                    option(val="v8") Option 8
                                                    option(val="v9") Option 9
                                                    option(val="v10") Option 10
                                                    option(val="v11") Option 11

                                  button(type='submit')
                                    span Book my free session

                      //- a(href="#").btn-link
                      //-   span Get Matched

        #partners-list
            .container
                .row
                    .col-xl-4
                        .partners-title Our Trustfully Partners
                    .col-xl-8
                        .partners-logo
                            each val in ['demochimp', 'merchant', 'innovaccer', 'tartu_science']
                                a(href="#" target="_blank")
                                    +renderimg(val+"-logo.png")

        #our-story.info-section
            .info-title Our Story
            p.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like

            a(href="#").btn-link
                span Read More

        .shortinfo-section
            .shortinfo-item.colored
                .row.no-gutters
                    .col-xl-6
                        .shortinfo-img
                            +renderimg("1837.jpg").img-fluid
                    .col-xl-6
                        .shortinfo
                            .shortinfo-title Our Mission
                            .shortinfo-txt.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            a(href="#").btn-link
                                span Read More
            .shortinfo-item
                .row.no-gutters
                    .col-xl-6
                        .shortinfo
                            .shortinfo-title Growing market
                            .shortinfo-txt.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            a(href="#").btn-link
                                span Read More
                    .col-xl-6
                        .shortinfo-img
                            +renderimg("1734.jpg").img-fluid
            .shortinfo-item
                .row.no-gutters
                    .col-xl-6
                        .shortinfo-img
                            +renderimg("292301-P6RFAC-162.jpg").img-fluid
                    .col-xl-6
                        .shortinfo
                            .shortinfo-title Quick Start
                            .shortinfo-txt.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            a(href="#").btn-link
                                span Read More
            .shortinfo-item
                .row.no-gutters
                    .col-xl-6
                        .shortinfo
                            .shortinfo-title Growing market
                            .shortinfo-txt.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            a(href="#").btn-link
                                span Read More
                    .col-xl-6
                        .shortinfo-img
                            +renderimg("435953-PEA2IB-862.jpg").img-fluid
            #numbers.container
                .numbers-text We've helped over 12,000 clients see providers

                .circles
                    .circle-item
                        p 12k
                        span Clients
                    .circle-item
                        p 300
                        span Providers
                    .circle-item
                        p 9
                        span Locations

