extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-dashboard-bookings.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboar-content.content
			nav#dash-board-nav

				ul
					li
						a(href="/provider-dashboard-mimessages.html") Mi Message
					li
						a(href="/provider-dashboard-bookings.html").active Mi Bookings
					li
						a(href="/provider-dashboard-mypayments.html") My Payments
					li
						a(href="/provider-dashboard-comments.html") My Comments
					li
						a(href="/provider-dashboard-aboutme.html") My Profile

				.type-switch
					input(type="checkbox" hidden)#type-switcher-checkbox
					label(for="type-switcher-checkbox")
						span Patient
						.switcher-tgl
							.switcher-tgl-dot
						span Doctor

				#dashboard-nav-tgl
					span.active-tab-name Mi Bookings
					span.tab-tgl-icon
						i.fas.fa-chevron-down

			#dashboard-mibookings.dashboard-section
				.container-fluid
					.row
						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.waiting Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.expire Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.accepted Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.canceled Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.refused Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.made Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5.booking-title
											a(href="#") Titre du booking
										span.booking-number Booking number:
											span 215423541 B

									.booking-middle
										p.booking-author You are talking to:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Start Date:
												| 12/05/2015

											.end-date
												span Start Date:
												| 12/05/2015

											.duration
												span Duration of the reservation:
												| 4

									.booking-footer
										p
											span Anthoni N. dit:
											| ed tempus ante поп metus ultricies vestibulum. Vestibulum eget ulti ices nunc, пес feugiat purus.
											a(href="#") [Read More]

								.booking-card-right
									.price 422,00 €

									.status.error Waiting for the supplier

									.expire-time Expires in 44 hours

									a(href="#")
										span Open

					include ../includes/pagination
