extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-dashboard-review.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboar-content.content
			nav#dash-board-nav

				ul
					li
						a(href="/provider-dashboard-mimessages.html").active Mi Message
					li
						a(href="/provider-dashboard-bookings.html") Mi Bookings
					li
						a(href="/provider-dashboard-mypayments.html") My Payments
					li
						a(href="/provider-dashboard-comments.html") My Comments
					li
						a(href="/provider-dashboard-aboutme.html") My Profile

				.type-switch
					input(type="checkbox" hidden)#type-switcher-checkbox
					label(for="type-switcher-checkbox")
						span Patient
						.switcher-tgl
							.switcher-tgl-dot
						span Doctor

				#dashboard-nav-tgl
					span.active-tab-name Mi Review
					span.tab-tgl-icon
						i.fas.fa-chevron-down

			#dashboard-review.dashboard-section
				.container
					.row.justify-content-center
						.col-lg-8
							#review-form
								.review-form-header
									.avatar-wrap
										a(href="#")
											+renderimg('default-user.png')

									.review-content
										h5.review-title
											a(href="#") Title Of Review

										p.tagged The person you notice:
											a(href="#") Anthoni N

										.date-handler
											p Start Date:
												span 12/05/2015
											p End Date:
												span 20/05/2015

										.average-grade
											p Average grade:
											include ../includes/rating-stars

								form
									.rate-user
										span Rate this user:

										.rate-form
											each val in [1, 2, 3, 4, 5]
												.rate-level
													input(type="checkbox" id="rate-level-" + val class="rate-level-input" value= val hidden)
													label(for="rate-level-" + val).rate-level-label
														.filled-star
															i.fas.fa-star

														.stroke-star
															i.far.fa-star

									.review-txt-area
										p Your comment:

										textarea(name="review-comment" placeholder="Be polite, think about how your opinion can help others to form an opinion.")

									.review-btns
										button(type="reset").c-button.white-btn
											span Cancel

										button(type="submit").c-button.colored-btn
											span Publish The Commentary
