extends ../includes/layout
include ../includes/mixins

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav

				ul
					li
						a(href="/provider-dashboard-mimessages.html") Mi Message
					li
						a(href="/provider-dashboard-bookings.html") Mi Bookings
					li
						a(href="/provider-dashboard-listings.html") Mi Listings
					li
						a(href="/provider-dashboard-mypayments.html") My Payments
					li
						a(href="/provider-dashboard-comments.html").active My Comments
					li
						a(href="/provider-dashboard-aboutme.html") My Profile

				.type-switch
					input(type="checkbox" hidden)#type-switcher-checkbox
					label(for="type-switcher-checkbox")
						span Patient
						.switcher-tgl
							.switcher-tgl-dot
						span Doctor

				#dashboard-nav-tgl
					span.active-tab-name Mi Review
					span.tab-tgl-icon
						i.fas.fa-chevron-down

			#dashboard-mibookings.dashboard-section
				.container-fluid
					.row
						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5 Reservation:&nbsp;
											a(href="#") 9506388
											|&nbsp;for listing
											a(href="#")
												|&nbsp;Dr Martine Durand

									.booking-middle
										p.booking-author Reviewer:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Date:
												| 12/05/2015

									.booking-footer
										.booking-card
											.booking-preview-offer-img
												a(href="#")
													+renderimg('preview-default.png')

											.booking-content
												p
													span Comment:
													|&nbsp;Lorem ipsum is simply dummy text of the printing and typesetting industry

						.col-lg-12.col-sm-6
							.booking-card
								.booking-preview-img
									a(href="#")
										+renderimg('preview-default.png')

								.booking-content
									.content-header
										h5 Reservation:&nbsp;
											a(href="#") 9506388
											|&nbsp;for listing
											a(href="#")
												|&nbsp;Dr Martine Durand

									.booking-middle
										p.booking-author Reviewer:
											span Anthony N
										include ../includes/rating-stars

										.booking-times
											.start-date
												span Date:
												| 12/05/2015

									.booking-footer
										.booking-card
											.booking-preview-offer-img
												a(href="#")
													+renderimg('preview-default.png')

											.booking-content
												p
													span Comment:
													|&nbsp;Lorem ipsum is simply dummy text of the printing and typesetting industry

					include ../includes/pagination
