extends ../includes/layout

block wrapper
	main#auth-page.page-content
		.container
			.row
				.col-md-12
					.card.form-card
						.card-header Registration confirmed
						.card-body
							.alert.alert-success
								h2
									strong Success!
									|Your account has been created successfully
								p Congrats CompanyName, your account is now activated.
