.coach-card
  // max-width: 340px
  border-radius: 15px
  overflow: hidden
  position: relative
  box-shadow: 0px 3px 10px 0px rgba($grey, 0.05)

  .card-top-info
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    padding: 15px
    display: flex
    align-items: center
    justify-content: space-between
    background: linear-gradient(rgba($black, .85), transparent)
    line-height: 1

  .top-right-side
    text-align: right

  .comment-link
    color: #fff

  .link-body
    display: flex
    flex-direction: column
    height: 400px
    text-decoration: none

    .link-header
      height: 50%
      @extend %bg-cover
      position: relative

    .info-belt
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      @extend %force-centered
      background-color: rgba($blue, .85)
      height: 50px

      .txt-item
        @extend %force-centered
        flex-direction: column
        color: #fff
        //width: 100px
        flex: 1
        line-height: 1.2
        font-size: .875rem

        .txt-label
          text-transform: uppercase
          font-size: .75rem

        .price
          font-weight: 900

      .coach-avatar
        width: 90px
        height: 90px
        border-radius: 100%
        overflow: hidden
        @extend %bg-cover
        border: 4px solid #fff
        box-shadow: 0px 1px 2px 0px rgba($black, 0.15)

    .link-footer
      height: 50%
      background-color: #fff
      padding: 30px 15px 15px

      .coach-full-name
        text-align: center
        color: $blue
        font-weight: 900
        margin-bottom: 0
        font-size: 1.125rem

      .location
        text-align: center
        font-size: .875rem
        color: $light-grey - #333
        margin-bottom: 10px

      .proff-list
        text-align: center
