header
  position: fixed
  top: 0
  left: 0
  z-index: 10
  width: 100%
  padding: 10px 0

  #logo
    text-align: center

    img
      max-width: 280px

  nav
    display: flex
    align-items: center

    .nav-item
      margin: 0 10px

      &:first-child
        margin-left: 0

    .nav-link
      display: block
      color: #fff
      transition: all .3s ease
      font-size: .875rem
      padding: 0
      @extend %hover-link

  //.btn-link
  //  margin-left: .75rem
  //
  //  &#apply
  //    background-color: $blue
  //    color: #fff
  //
  //  &#phone
  //    color: $blue
  //    background-color: transparent

#header-right
  display: flex
  align-items: center
  justify-content: flex-end

  .header-right-item
    border-right: 1px solid rgba(#fff, .35)
    padding: 0 15px
    line-height: 1.25

    &:last-child
      border: none
      padding-right: 0

  #favorite-link
    a
      font-size: .875rem
      text-transform: uppercase
      color: #fff
      margin: 0
      padding: 0
      @extend %link-hover

  .language-tgl
    .toggle-link
      height: 20px
      width: 20px
      border: 2px solid #fff
      border-radius: 100%
      background-color: #fff
      @extend %bg-cover
      display: block

    .dropdown-item
      display: flex
      align-items: center
      text-transform: none

      img
        margin-right: 5px

  .social-links
    display: flex

  .social-link
    display: flex
    align-items: center
    justify-content: center
    height: 24px
    width: 24px
    border-radius: 100%
    background-color: #fff
    color: $blue
    margin-left: 10px
    font-size: .75rem
    transition: all .3s ease
    @extend %hover-effect

    &:first-child
      margin-left: 0

    &:hover
      background-color: $blue
      color: #fff


